.logo{
    text-align: center;
}
.Titulo{
    text-align: center;
}
ul{
    display:flex;
    flex-direction: row;
    gap: 60px;
}
.textos{
    display:flex;
    text-align: center;
    justify-content: center;
    gap: 10px;

}
.vassoura2{
    text-align: center;
   
}
.texto2{
    text-align: center;
}