
@media(max-width:375px){

.quadrado1{
        width: 365px;
        height: 63px;
        background-color: #000000 ;
        margin: 5px;
        background-attachment: fixed;


}
.quadrado2{
    width: 176px;
    height: 635px;
    background-color: #656565;
    margin: 5px;
    display: inline-block;
    background-attachment: fixed;

    

}
.quadrado3{
    width: 173px;
    height: 635px;
    background-color: #BC0000;
    margin: 5px;
    display: inline-block;
    background-attachment: fixed;



}
.quadrado4{
    width: 360px;
    height: 43px;
    background-color: #5a2a2a;
    margin: 5px;
    background-attachment: fixed;

}
}






.quadrado1{
    width: 1878px;
    height: 63px;
    margin: 5px;
    background-color: #000000 ;
}
.quadrado2{
    width: 542px;
    height: 780px;
    margin:5px;
    background-color: #656565;
    display: inline-block;

}
   
.quadrado3{
    width: 1320px;
    height: 780px;
    margin:5px;
    background-color: #BC0000;
    display: inline-block;

}
.quadrado4{
    width: 1878px;
    height: 43px;
    background-color: #5a2a2a;
    margin:5px;
}