.quadrado1{
    width: 1900px;
    height: 189px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    width: 469px;
    height: 95px;
    text-align: center;

}
.Titulo{
    text-align: center;
}
ul{
    display:flex;
    flex-direction: row;
    gap: 60px;
}
.textos{
    display:flex;
    text-align: center;
    justify-content: center;
    gap: 10px;

}
.vassoura2{
    text-align: center;
   
}
.texto2{
    text-align: center;
}